<h1>Amigo Secreto</h1>
<div class="card">
  <div class="card-body">

    <h1>Bem-vindo ao Amigo Secreto</h1>

    <a class="btn btn-link" href="/criar-sorteio">Criar Sorteio</a>

    <a class="btn btn-link" href="/sorteios">Ver Sorteios</a>
  </div>
</div>