<h1>Links para os Participantes</h1>
<div class="card">
  <div class="card-body">
    <ul>
      {{#each links}}
        <li>
          <a href="{{link}}" target="_blank">{{nome}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>