<h1>Resultado do Amigo Secreto</h1>

<div class="card">
  <div class="card-body">
    <ul>
      {{#each resultadoSorteio}}
        <li>{{nome}} tirou {{amigo}}</li>
      {{/each}}
    </ul>

    <a href="/">
      <button class="btn btn-danger mt-2">
        Voltar
      </button>
    </a>
  </div>
</div>