<h1>Resultado do sorteio</h1>
<div class="card">
  <div class="card-body">
    <h1>Resultado do Sorteio</h1>
    <p><strong>Nome:</strong> {{nome}}</p>
    <p><strong>Seu Amigo Secreto:</strong> {{amigo}}</p>
    <a href="/">Voltar à Página Inicial</a>
  </div>
</div>